*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  /*===== Colores =====*/
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
  background-color: steelblue;
}

.App{
  color: #fff;
  background-color: steelblue;
  margin-bottom: 1em;
  
  /* color: lightskyblue; */
}

.App-content{
  width: 100%;
  /* height: 100vh; */
}

.App-content header {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 1em;
  font-size: 1.6em;
  font-weight: 500;
  background-color: #fff;
  color: steelblue;
  border-radius: 0 0 0 25px;
  box-shadow: -1px 1px 26px 2px rgba(0,0,0,0.2);

}

/* ######### */
/* TASKS: */
/* ######### */

.task-container{
  margin: 1em;
  padding: 1em;
  background: #fff;
  color: steelblue;
  border-radius: 25px;
  position: relative;
  display: flex;
  /* justify-content: start; */
  align-items: flex-start;
  flex-direction: column;

}

.task-container .task-title{
  font-size: 1.5em;
  margin: .4em 0;
}
.task-container .task-description{
  font-size: 1em;
  margin: .4em 0;
}
.task-container .task-date{
  /* color: steelblue; */
  font-size: .8em;
}

.task-container .close-task-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}
.task-container .close-task-container .close-task-icon {
  margin: .4em;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(45deg);
}
/* .close-task-icon{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: .6em;
  background-color: transparent;
  transform: rotate(45deg);
  
} */



/* ######### */
/* ADD TASK BUTTON: */
/* ######### */

.button-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  position: fixed;
  z-index: 100;
  bottom: 0;
}

.main-button{
  width: 5em;
  height: 5em;
  
  padding: 1.5em;
  
  border: none;
  border-radius: 50%;
  background: #fff;
  color: #000;
  box-shadow: -5px 10px 26px -5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.main-button .icon-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: steelblue; 
}

.main-button .icon-container i {
  background-color: transparent;
  font-size: 2em;
  color: steelblue; 
}

/* ######### */
/* FORM: */
/* ######### */

.task-form{
  z-index: 101;
  width: 100%;
  height: 19em;
  position: fixed;
  bottom: 0;
  background: #fff;
  color: steelblue;
  border-radius: 0 25px 0 0;
  box-shadow: -5px -10px 26px -5px rgba(0,0,0,0.2);

}


.close-form-icon{
  position: absolute;
  right: 0;
  margin: .6em;
  background-color: transparent;
  transform: rotate(45deg);
  cursor: pointer;
}

.l-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  width: 100%;
  margin: 1em 2em;
}
.form__div{
  margin: 2em 0;
  position: relative;
  height: 48px;
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 91%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  outline: none;
  padding: .2em 1em;
  background: none;
  z-index: 1;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: .3s;
}
.form__button{
  display: block;
  /* margin-left: auto; */
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.form__button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/*Input focus move up label*/
.form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form__input:focus{
  border: 1.5px solid var(--first-color);
}
